<h1>Bem Vindo</h1>
<uL>
  <li><%= link_to "Tipos", kinds_path %></li>
  <li><%= link_to "Telefones", phones_path %></li>
  <li><%= link_to "Endereco", addresses_path %></li>
  <li><%= link_to "Contatoc", contacts_path %></li>

</uL>
